<section id="dog-image-container">
    <div *ngFor="let col of [].constructor(columns); index as i;">
        <div *ngFor="let src of images | masonry:columns:(i + 1)">
            <div class="image-container">
                <img [src]="src" appImgLoading (click)="toggleFullScreen($any($event.target))">

                <div class="image-text">
                    {{src | breed}}
                </div>
            </div>
        </div>

        <ng-container *ngIf="loading">
            <div *ngFor="let item of (10 | random:30) | array | masonry:columns:(i + 1); index as j">
                <div class="loading"
                    [ngStyle]="{ 'height': (150 | random:225) + 'px', 'animation-delay': (50 | random:300) + 'ms' }">
                </div>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="!loading && !images.length">
        <p style="color: #fff;">Empty result</p>
    </ng-container>
</section>