:host {
    width: var(--width, 70vw);
    margin-top: 2rem;
    overflow: auto;
    height: 0px;

    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;

    &.grow {
        animation-name: grow;
    }

    &:not(.grow) {
        animation-name: decrease;
    }
}

@keyframes grow {
    from {
        height: 0px;
    }

    to {
        height: var(--height, 70vh);
    }
}

@keyframes decrease {
    from {
        height: var(--height, 70vh);
    }

    to {
        height: 0px;
    }
}

#dog-image-container {
    grid-auto-flow: column;
    display: grid;

    .image-container {
        background-color: #000000;
        position: relative;
    }

    img {
        transition: opacity 0.8s;
        display: block;
        width: 100%;

        &:fullscreen {
            cursor: zoom-out !important;
        }
    }

    .image-text {
        background-color: rgba(255, 255, 255.6);
        border-top-left-radius: 4px;
        position: absolute;
        text-align: right;
        padding: 2px;
        bottom: 0;
        right: 0;
    }

    &:hover img {
        opacity: 0.3;

        &:hover {
            cursor: zoom-in;
            opacity: 1;
        }
    }
}

@keyframes paint {
    0% {
        background-color: #313236;
    }
    50% {
        background-color: #000000;
    }
    100% {
        background-color: #313236;
    }
}

.loading {
    animation: 1.5s paint linear infinite;
    width: 100%;
}
